.search {
	width: 100px;
	height: 100px;
	margin: 40px auto 0;
	background-color: #242628;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;
	z-index: 3;
}

.search:before {
	content: "";
	display: block;
	width: 3px;
	height: 100%;
	position: relative;
	background-color: #00fede;
	transition: all 0.5s ease;
}
.open {
	width: 420px;
}
.open:before {
	height: 60px;
	margin: 20px 0 20px 30px;
	position: absolute;
}

.search-box {
	width: 100%;
	height: 100%;
	box-shadow: none;
	border: none;
	background: transparent;
	color: #fff;
	padding: 20px 100px 20px 45px;
	font-size: 40px;
}
.search:focus {
	outline: none;
}

.search-button {
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	cursor: pointer;
}

.search-icon {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 3px solid #00fede;
	display: block;
	position: relative;
	margin-left: 40px;
	transition: all 0.5s ease;
}
.search-icon:before {
	content: "";
	width: 3px;
	height: 15px;
	position: absolute;
	right: -2px;
	top: 30px;
	display: block;
	background-color: #00fede;
	transform: rotate(-45deg);
	transition: all 0.5s ease;
}
.search-icon:after {
	content: "";
	width: 3px;
	height: 15px;
	position: absolute;
	right: -12px;
	top: 40px;
	display: block;
	background-color: #00fede;
	transform: rotate(-45deg);
	transition: all 0.5s ease;
}
.search-icon .open {
	margin: 0;
	width: 60px;
	height: 60px;
	border-radius: 60px;
}
.search-icon .open :before {
	transform: rotate(52deg);
	right: 22px;
	top: 23px;
	height: 18px;
}
.search-icon .open :after {
	transform: rotate(-230deg);
	right: 22px;
	top: 13px;
	height: 18px;
}
